{% extends "layout.html" %}
{%block content%}
<div class="col-xs-6">
 {% from "_macros.html" import render_field %}

  <form action="" method="post" novalidate>
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
  <div class="row control-group">
    <div class="form-group">
        {{render_field(form.matricula)}}
    </div>
    {{render_field(form.nombre)}}
    {{render_field(form.apaterno)}}
    {{render_field(form.amaterno)}}
    {{render_field(form.email)}}
    <input type="submit" value="Registrar">
    </div>
  </div>
  </form>
</div>
<div class="col-xd-6">
    <h3>Matricula: {{mat}}</h3>
    <h3>Nombre: {{nom}}</h3>
</div>
{%endblock%}